@using RunningObjects.MVC
@using RunningObjects.MVC.Html
@model Model
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-error">
        <ul>
            @foreach (var error in ViewData.ModelState.Where(pair => pair.Value.Errors.Any()).SelectMany(pair => pair.Value.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
@{  
    using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "well form-vertical" }))
    {
        foreach (var property in Model.Properties.Where(p => !p.IsModelCollection && p.Metadata.ShowForEdit))
        {
        <div class="control-group">
            @Html.LabelFor(property)
            <div class="controls">
                @Html.EditorFor(property)
                <span class="control-group error">
                    @Html.ValidationMessage(property.Name, new { @class = "help-inline" })
                </span>
            </div>
            <div class="clearfix">
            </div>
        </div>
        }

        if (Model.Properties.Any(p => p.IsModelCollection && p.Metadata.ShowForEdit))
        {
            <div class="tabbable" style="width: 100%;">
                <ul class="nav nav-tabs" id="editTabs" style="margin: 0;">
                    @foreach (var property in Model.Properties.Where(p => p.IsModelCollection && p.Metadata.ShowForEdit))
                    {
                        <li><a href="#@property.Descriptor.Name" data-toggle="tab">@property.Name</a></li>
                    }
                </ul>
                <div class="tab-content" style="margin: 0;">
                    @foreach (var property in Model.Properties.Where(p => p.IsModelCollection && p.Metadata.ShowForEdit))
                    {
                        <div class="tab-pane" id="@property.Descriptor.Name">
                            @Html.EditorFor(property)
                        </div>
                    }
                </div>
            </div>
        }
        
        <input type="hidden" name="redirectTo" value="@ViewContext.HttpContext.Request.UrlReferrer"/>
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#editTabs a:first').tab('show');
    });
</script>
