@using RunningObjects.MVC
@using RunningObjects.MVC.Html
@model RunningObjects.MVC.ModelCollection
<div id="deleteModal" class="modal hide">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">
            &times;</button>
        <h3>
            Hey!</h3>
    </div>
    <div class="modal-body">
        Do you really wanna delete this item?
    </div>
    <div class="modal-footer">
        <form id="deleteForm" action="@Url.Action("Delete", "Presentation", new { key = "k" })" method="POST" class="form-inline" style="margin:0;">
            <button class="btn" data-dismiss="modal">
                Cancel</button>
            <button class="btn btn-danger">
                Delete</button>
        </form>
    </div>
</div>
<table class="items table table-striped table-bordered">
    <thead>
        <tr>
            @foreach (var header in Model.Properties.Where(p => p.Metadata.ShowForDisplay))
            {
                <th>
                    @Html.TextFor(header)
                </th>
            }
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @foreach (var property in item.Properties.Where(p => p.Metadata.ShowForDisplay))
                {
                    <td>
                        @Html.DisplayFor(property)
                    </td>
                }
                <td class="span2">
                    <div class="btn-group">
                        @* 
                            //TODO:Create resource for string value
                            *@ <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret">
                            </span></a>
                        <ul class="dropdown-menu">
                            @if (Model.Descriptor.ModelMapping.InstanceMethods.Any())
                            {
                                foreach (var method in Model.Descriptor.ModelMapping.InstanceMethods)
                                {
                                <li>
                                    @Html.ActionLink(method.Name, Model.ModelType, RunningObjectsAction.Execute, new { key = item.KeyValue, methodName = method.Name, index = method.Index })
                                </li>
                                }
                                <li class="divider"></li>
                            }
                            <li><a href="@Url.Action(Model.ModelType, RunningObjectsAction.View, new { key = item.KeyValue })">
                                <i class="icon-eye-open"></i>@* 
                                        //TODO:Create resource for string value
                                        *@ View </a></li>
                            <li><a href="@Url.Action(Model.ModelType, RunningObjectsAction.Edit, new { key = item.KeyValue })">
                                <i class="icon-edit"></i>@* 
                                        //TODO:Create resource for string value
                                        *@ Edit </a></li>
                            <li><a class="delete" href="#deleteModal" data-toggle="modal" data-key="@item.KeyValue">
                                <i class="icon-trash"></i>@* 
                                        //TODO:Create resource for string value
                                        *@ Delete </a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    @*<tfoot>
        <tr>
            <th colspan="@(3 + Model.Descriptor.ModelMapping.InstanceMethods.Count() + Model.Properties.Count())">
                <ul class="pager" style="margin-bottom: 0px;">
                    @if (Model.PageNumber > 1)
                    {
                        <li class="previous">@Html.ActionLink("Previous", Model.ModelType, RunningObjectsAction.Index, new { page = Model.PageNumber - 1, size = Model.PageSize })</li>
                    }
                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="next">@Html.ActionLink("Next", Model.ModelType, RunningObjectsAction.Index, new { page = Model.PageNumber + 1, size = Model.PageSize })</li>
                    }
                </ul>
            </th>
        </tr>
    </tfoot>*@
</table>
@if (Model.PageNumber < Model.PageCount)
{
    <div id="pagination">
        <a href="@Url.Action(Model.ModelType, RunningObjectsAction.Index, new { page = Model.PageNumber + 1, size = Model.PageSize })">
        </a>
    </div>
    
}
<div id="loading"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("a.delete").bind('click', function () {
            $("#deleteModal button.btn-danger").attr('data-key', $(this).attr('data-key'));
        });

        $("#deleteModal button.btn-danger").bind('click', function () {
            var key = $(this).attr("data-key");
            var form = $('#deleteForm');
            form.attr('action', form.attr('action').replace('k', key));
            form.submit();
        });
    });

    $("table.items tbody").infinitescroll({
        loading: {
            speed: "slow",
            selector: $("#loading")
        },
        navSelector: '#pagination',    // selector for the paged navigation 
        nextSelector: '#pagination a',  // selector for the NEXT link (to page 2)
        itemSelector: 'table.items tbody tr'     // selector for all items you'll retrieve
    },
    function (items) {
        for (var idx in items) {
            $("a.delete", $(items[idx])).bind('click', function () {
                $("#deleteModal button.btn-danger").attr('data-key', $(this).attr('data-key'));
            });
        }
    });
</script>
