@using RunningObjects.MVC
@using RunningObjects.MVC.Html
@model Member
@{
    var tableId = Model.Name + "_table";
    var collection = Model.ToModelCollection();
    var visibleProperties = collection.Properties.Where(p => p.Metadata.ShowForDisplay).ToList();
}
<table id="@tableId" class="table table-bordered" style="margin:0">
    <thead>
        <tr>
            <th colspan="@(visibleProperties.Count + 1)">
                <input type="text" id="@(Model.Name)_typeahead" style="width:98.5%;margin:0;" />
            </th>
        </tr>
        <tr>
            @foreach (var header in visibleProperties)
            {
                <th>
                    @Html.TextFor(header)
                </th>
            }
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (collection.Items != null)
        {
            var items = collection.Items.ToList();
            foreach (var item in items)
            {
                <tr>
                    @foreach (var property in item.Properties)
                    {
                        <td>
                            @property.Value
                        </td>
                    }
                    <td>
                        <input type='hidden' name='@(Model.Name)[@items.IndexOf(item)]' value='@item.KeyValue' />
                        <button class='btn-mini btn-inverse' style='margin:0;'>x</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    
    $(document).ready(function () {
        $("#@(Model.Name)_typeahead").typeahead(
            {
                property: "@(collection.Descriptor.TextProperty != null ? collection.Descriptor.TextProperty.Name : string.Empty)",
                
                source: function (typeahead) {
                    $.ajax({
                        url: "@Url.ApiAction(Model.UnderliningModel.ModelType, RunningObjectsAction.Index, null)",
                        success: function (data) {
                            typeahead.process(data);
                        }
                    });
                },
                
                onselect : function (item) {
                    var template = "<tr>{columns}<td>{buttons}</td></tr>";
                    var key = "@collection.Descriptor.KeyProperty.Name";
                    var inputs = $("#@tableId input:hidden");
                    if (inputs.val() != item[key]) {
                        
                        var columns = "";
                        @for (var i = 0; i < visibleProperties.Count; i++)
                        {
                            @:columns += "<td>" + item["@visibleProperties[i].Name"] + "</td>";
                        }
                        
                        var buttons =   "<input type='hidden' name='@(Model.Name)[" + inputs.length + "]' value='" + item[key] + "' />" +
                            "<button class='btn-mini btn-inverse' style='margin:0;'>x</button>";
                        
                        var row = $(template.replace("{columns}", columns).replace("{buttons}", buttons));
                        $("#@tableId tbody").append(row);
                        
                        row.find(".btn-inverse").bind('click', function() {
                            $(this).parents('tr').remove();
                        });
                    }
                    $("#@(Model.Name)_typeahead").val("").focus();
                }   
            }
        );

        $("#@tableId tbody .btn-inverse").bind('click', function() {
            $(this).parents('tr').remove();
        });
    });
</script>
