@using RunningObjects.MVC
@using RunningObjects.MVC.Html
@model Model
<div id="deleteModal" class="modal hide">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">
            &times;</button>
        <h3>
            Hey!</h3>
    </div>
    <div class="modal-body">
        Do you really wanna delete this item?
    </div>
    <div class="modal-footer">
        <form id="deleteForm" action="@Url.Action("Delete", "Presentation", new { key = Model.KeyValue })" method="POST" class="form-inline" style="margin:0;">
        <button class="btn" data-dismiss="modal">
            Cancel</button>
        <button type="submit" class="btn btn-danger">
            Delete</button>
        </form>
    </div>
</div>
<div class="well">
    <table class="table" style="margin-bottom: 0;">
        <tbody>
            @foreach (var property in Model.Properties.Where(p => !p.IsModelCollection && p.Metadata.ShowForDisplay))
            {
                <tr>
                    <th class="span1">@Html.TextFor(property)
                    </th>
                    <td class="span8">@Html.DisplayFor(property)
                    </td>
                </tr>
            }
            @if (Model.Properties.Any(p => p.IsModelCollection && p.Metadata.ShowForDisplay))
            {
                <tr>
                    <td colspan="2" style="padding: 10px 0;">
                        <div class="tabbable" style="width: 100%;">
                            <ul class="nav nav-tabs" id="viewTabs" style="margin: 0;">
                                @foreach (var property in Model.Properties.Where(p => p.IsModelCollection && p.Metadata.ShowForDisplay))
                                {
                                    <li><a href="#@property.Descriptor.Name" data-toggle="tab">@property.Name</a></li>
                                }
                            </ul>
                            <div class="tab-content" style="margin: 0;">
                                @foreach (var property in Model.Properties.Where(p => p.IsModelCollection && p.Metadata.ShowForDisplay))
                                {
                                    <div class="tab-pane" id="@property.Descriptor.Name">
                                        @Html.DisplayFor(property)
                                    </div>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    <a class="btn btn-primary" href="@Url.Action(Model.ModelType, RunningObjectsAction.Edit, new { key = Model.KeyValue })">
                        <i class="icon-edit icon-white"></i>&nbsp;Edit </a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                        <i class="icon-trash icon-white"></i>&nbsp;Delete</button>
                    @if (Model.Descriptor.ModelMapping.InstanceMethods.Any())
                    {
                        foreach (var method in Model.Descriptor.ModelMapping.InstanceMethods.Where(m => m.Visible))
                        {
                        <a class="btn" href="@Url.Action(Model.ModelType, method.UnderlineAction, new { key = Model.KeyValue, methodName = method.MethodName })">
                            @method.Name
                        </a>
                        }
                    }
                    <button type="button" class="btn" onclick="history.go(-1);">
                        Cancel
                    </button>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#viewTabs a:first').tab('show');
    });
</script>
